<style>
  .fxfLWS.fxfLWS.fxfLWS.fxfLWS.fxfLWS.fxfLWS .ql-editor .ql-font-helvetica-neue {
    font-family: 'Armata', sans-serif !important;
    font-size: 20px !important;
  }
  
  #shopify-section-footer > footer > div > div > div.grid__item.footer__item--1582580003938 > div > div > form > div > div:nth-child(2) > div > div > div > div.ql-editor > p > span {
    font-family: 'Armata', sans-serif !important;
  	font-size: 16px !important;
  }
  
  #shopify-section-footer > footer > div > div > div.grid__item.footer__item--1582580003938 > div > div > form > div > div:nth-child(3) > div.ResetElements__Div-sc-8e6zl9-0.FormComponent__StyledFormComponentWrapper-e0xun6-0.needsclick.undefined.klxinu > div > input {
    font-family: 'Armata', sans-serif !important;}
  
  #shopify-section-footer > footer > div > div > div.grid__item.footer__item--1582580003938 > div > div > form > div > div:nth-child(3) > div.ResetElements__Div-sc-8e6zl9-0.FormComponent__StyledFormComponentWrapper-e0xun6-0.needsclick.undefined.klxinu{
    font-family: 'Armata', sans-serif !important;}
  
  #shopify-section-footer > footer > div > div > div.grid__item.footer__item--1582580003938 > div > div > form > div > div:nth-child(3) > div.ResetElements__Div-sc-8e6zl9-0.FormComponent__StyledFormComponentWrapper-e0xun6-0.needsclick.undefined.fJJqMW > button{
    font-family: 'Armata', sans-serif !important;}
  
  .social-icons {
  width: 100%;
  float: left;
}
.ig64 {
  padding-right: 8px;
  float:left;
}
.fb64 {
  padding-right: 8px;
  float: left;
}
.yt64 {
  padding-right: 8px;
}
  
</style>
<div class="klaviyo-form-J8vPY8"></div>
<div class="social-icons">
  <div class="ig64">
    <a href="https://instagram.com/thegrayl">
    <img src="https://cdn.shopify.com/s/files/1/2172/9959/files/ig64.png?v=1583531566" width="32" height="32" alt="Join our community on Instagram">
    </a>
  </div>
  <div class="fb64">
    <a href="https://facebook.com/thegrayl">
    <img src="https://cdn.shopify.com/s/files/1/2172/9959/files/fb64.png?v=1583531566" width="32" height="32" alt="Join our community on Facebook">
    </a>
  </div>
  <div class="yt64">
    <a href="https://youtube.com/thegrayl">
    <img src="https://cdn.shopify.com/s/files/1/2172/9959/files/yt64.png?v=1583531566" width="32" height="32" alt="Join our YouTube Community">
    </a>
  </div>
  
</div>