<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Oct 25 2021 19:04:06 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="617190cf9febdb912505bffb" data-wf-site="61572d640c22c0df3c3cc8da">
<head>
  <meta charset="utf-8">
  <title>GeoPress Nature Edition</title>
  {%- comment %}<locksmith:6906>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta content="GeoPress Nature" property="og:title">{% endif -%}
    {%- comment %}original: <meta content="GeoPress Nature" property="og:title">{%- endcomment %}
  {%- comment %}</locksmith:6906>{% endcomment -%}
  <meta content="GeoPress Nature" property="twitter:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  
  <link rel="stylesheet" type="text/css" href="{{ 'webflow.css' | asset_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'webflow-styling-021222.css' | asset_url }}">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Oswald:200,300,400,500,600,700","Armata:regular"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
</head>
<body>
<div class="product-description wf-section">
    <div class="section-container description w-container">
      <div class="tabs-header orange">OVERVIEW</div>
      <div class="pl description"><strong>Drink-Mix & Electrolyte Ready!</strong> Unrivaled Ease, Speed &amp; Convenience. No other purifier rivals the speed, simplicity and effectiveness of GeoPress. In eight seconds, it makes 24 ounces (710 ml) of clean drinking water anywhere on earth. Tap into the world’s water sources and drink from sketchy spigots, hotel sinks, murky rivers, wells or lakes. Removes global waterborne pathogens (virus, bacteria, protozoan cysts) and filters pesticides, chemicals, heavy metals, and microplastics. <em>Also improves taste, smell, and clarity!</em></div>
    </div>
  </div>
  <div class="tabs-chroma wf-section">
    <div class="section-container tabs w-container">
      <div class="tabs-wrapper">
        <div data-w-id="cdb8abe5-1528-1f0e-ac97-46ef8d2c0b31" class="tabs-panel">
          <div class="tabs-header orange">FEATURES</div>
          <div class="tabs-button">
            <div class="plus-wrap"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/plus-gray.svg?v=1635184243" loading="lazy" alt="Dropdown menu button" class="plus-tabs"></div>
          </div>
        </div>
        <div style="display:none;height:0px" class="tabs-body-panel">
          <ul role="list" class="tabs-list">
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Unrivaled ease, speed and versatility </strong>— simply Fill. Press. Drink®</span></div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>OnePress® Global Protection </strong>empowers travelers, adventurers and survivalists to make the world’s sketchiest freshwater sources clean.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Removes waterborne pathogens </strong>(virus, bacteria, protozoan cysts), including Rotavirus, Hepatitis A, Norovirus, Giardiasis, Cryptosporidium, E. Coli, Cholera, Salmonella, Dysentery and more.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Filters particulates (sediment, microplastics)</strong>. Ultra-powdered activated carbon adsorbs many chemicals (including PFAS & VOCs), pesticides, herbicides, heavy metals, flavors and odors.</div>
            </li>
             <li class="tabs-list-item">
              <div class="tabs-copy"><strong>One-Way Silicone Valve, Drink-Mix & Electrolyte Ready!</strong> New cartridge design and One-Way Drink Mix Valve (pre-installed) allows electrolytes and sport drink mixes to be added to your clean purified water without compromising the integrity of the filter cartridge media. Also allows GeoPress to be used with a variety of beverages such as juice, bubbly water, mocktails and cocktails.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Virtually no setup time</strong> and industry leading "fastest" flow rate (5 liters per minute). Filters and purifies in a blazing fast 8 seconds.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>RiverFlow® Spout</strong>. A wide contoured spout delivers a fast flow of water for chugging, filling hydration reservoirs and other bottles. </div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Multi-functional SimpleVent® Drink Cap</strong>. Twist the cap 1/2 turn to vent air during filtration and purification process; protects spout from cross-contamination.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>SoftPress® Pads</strong>. Comfortable pressing pad provides for an ergonomic, non-slip pressing surface.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>TPE TopoGrip®</strong>. Durable, tactile non-slip performance grip placed on all heavy use surfaces.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Non-Slip TPE Bumper</strong>. Non-slip base provides durable protection and withstands drops (at full capacity) up to 10'. </div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Saves money and waste</strong>. Travel sustainably and never buy single-use bottled water again</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy">Meets or exceeds the United States Environmental Protection Agency&#x27;s Water Purifier standard for microbiological filtration.</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="tabs-wrapper">
        <div data-w-id="e31e6439-1a5f-8f59-b568-b72081533ca6" class="tabs-panel">
          <div class="tabs-header orange">TECH SPECS</div>
          <div class="tabs-button">
            <div class="plus-wrap"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/plus-gray.svg?v=1635184243" loading="lazy" alt="Dropdown menu button" class="plus-tabs"></div>
          </div>
        </div>
        <div style="display:none;height:0px" class="tabs-body-panel">
          <ul role="list" class="tabs-list">
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Capacity: </strong>24 oz (710 ml)</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Weight:</strong> 15.9 oz (450 g)</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Height:</strong> 10.4&quot; (26.5 cm)</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Diameter (at base):</strong> 3.4&quot; (8.6 cm)<br></div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Active Technology: </strong>Electroadsorption and ultra-powdered activated carbon.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Fastest Flow Rate:</strong> 8 seconds per 24oz (5 liters/minute)<br></div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Removes:</strong> waterborne pathogens (99.99% of viruses, 99.9999% of bacteria, 99.9% of protozoan cysts), including Rotavirus, Hepatitis A, Norovirus, Giardiasis, Cryptosporidium, E. Coli, Cholera, Salmonella, Dysentery and more.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Filters:</strong> particulates (i.e. silt, microplastics, etc.); ultra-powdered activated carbon effectively adsorbs chemicals (including PFAS & VOCs), pesticides, heavy metals, flavors, and odors.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>One-Way Electrolyte & Drink Mix Valve:</strong> six duck bill valves prevent back flowing of water (or other beverages) through the Cartridge (Version 2) while also allowing clean filtered water to pass through the Cartridge into the Inner Press.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Durability:</strong> built tough to perform in harsh conditions and withstand 10 ft drops at full capacity onto concrete.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Cartridge lifespan:</strong> rated for 350 cycles (65 gal. / 250L), as “press time” reaches ~25 seconds (or three years have elapsed since first use) it’s time to replace your purifier cartridge.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Cartridge shelf life: </strong>stored under proper conditions, an unopened Purifier Cartridge has a shelf life of 10 years. After a cartridge has been used, it lasts at least 3 additional years.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>BPA-Free materials:</strong> made from polypropylene #5, food-grade silicone, TPE, ABS food-grade plastic.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Testing standards:</strong> independently tested by a certified laboratory to meet or exceed NSF/ANSI protocol 42 and 53 for pathogen and chemical removal; meets the the United States Environmental Protection Agency&#x27;s Guide Standard and Protocol for testing microbiological water purifiers.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Origin:</strong> designed in USA; GeoPress® bottle components made in China (purifier cartridge media made in USA).</div>
            </li>
             <li class="tabs-list-item">
              <div class="tabs-copy">Patented</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="tabs-wrapper">
        <div data-w-id="97ad8afb-0cd0-7c39-e010-956136b79a85" class="tabs-panel">
          <div class="tabs-header orange">WE HAVE YOU COVERED</div>
          <div class="tabs-button">
            <div class="plus-wrap"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/plus-gray.svg?v=1635184243" loading="lazy" alt="Dropdown menu button" class="plus-tabs"></div>
          </div>
        </div>
        <div style="display:none;height:0px" class="tabs-body-panel">
          <ul role="list" class="tabs-list">
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Warranty: </strong>The UltraPress™ Purifier Cartridge is accompanied by a ten (10) year warranty covering workmanship and materials.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Replacement Parts: </strong>For replacement parts, purifier cartridges, performance ratings, frequently asked questions, or to contact us with questions or comments, please visit our support page.</div>
            </li>
          </ul>
          <div class="logo-grid-wrapper tabs">
            <div class="logo-item tabs"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/WARRANTY.svg?v=1635184318" loading="lazy" alt="10 Year Warranty" class="ten-year-warranty"></div>
            <div class="logo-item tabs"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/BPA-FREE.svg?v=1635184318" loading="lazy" alt="BPA-Free" class="bpa-free"></div>
            <div class="logo-item tabs"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/1-PERCENT.svg?v=1635184318" loading="lazy" alt="1 Percent for the Planet" class="_1-percent-black"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61572d640c22c0df3c3cc8da" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.shopify.com/s/files/1/2172/9959/files/webflow.js?v=1635372859" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>

<style>
  @media screen and (max-width: 767px){
.section-container.description {
  padding-top: 0 !important;
  margin-top: -4em !important;
}
  }
</style>