<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Thu Dec 09 2021 20:08:27 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="61b1175a5b01f91501ca63e9" data-wf-site="61b1175a5b01f97e10ca63c4">
<head>
  <meta charset="utf-8">
  <title>BottleLock Hip Pack</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="https://cdn.shopify.com/s/files/1/2172/9959/files/hip-pack-webflow.css?v=1639081141" rel="stylesheet" type="text/css">
  <link href="https://cdn.shopify.com/s/files/1/2172/9959/files/hip-pack-styles_52f30d5c-5781-4f94-af6f-e6c3009f141a.css?v=1639597427" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Oswald:200,300,400,500,600,700","Armata:regular"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
</head>
<body class="body">
      <div class="hip-pack-video-section wf-section">
    <div class="hip-pack-video-container w-container">
      <div class="hip-pack-video-wrapper">
        <div class="hip-pack-video-block">
          <div class="html-embed w-embed w-iframe w-script">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/657125168?h=225fe3dad4&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="GRAYL X EW HIPPACK"></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hip-pack-product-description wf-section">
    <div class="hip-pack-container description w-container">
      <div class="hip-pack-tabs-header overview">MADE FOR YOUR GRAYL</div>
      <div class="hip-pack-p description">The best multi-use hip-pack and sling ever. Designed to carry Grayl® bottles and Earthwell® drinkware with grippy BottleLock™ construction zones. Whether it’s hot laps through the woods, quiet steps along a river or canyon, or urban exploration — you’ll find this bag is adventure-ready for any activity and environment. Jam-packed with features, this hydration hip pack can do it all.</div>
    </div>
  </div>
   <div class="hip-pack-section-logos wf-section">
    <div class="hip-pack-container-logos w-container">
      <div class="hip-pack-logos"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/USA-MADE-GOLD-LOGO.png?v=1639080908" loading="lazy" alt="Made in USA" class="image"></div>
      <div class="hip-pack-logos"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/EW-GRAYL-LOGO.png?v=1639080908" loading="lazy" alt="Earthwell logo" class="image"></div>
      <div class="hip-pack-logos"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/MULTICAM-LOGO.png?v=1639519783" loading="lazy" alt="MultiCam® Logo" class="image"></div>
      <div class="hip-pack-logos"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/CORDURA-LOGO.png?v=1639519783" loading="lazy" alt="Cordura® Logo" class="image cordura"></div>
    </div>
  </div>
  <div class="hip-pack-tabs wf-section">
    <div class="hip-pack-section-tabs tabs w-container">
      <div class="tabs-wrapper">
        <div data-w-id="07d49443-703b-8c69-2a51-b5adcccd04a0" class="tabs-panel">
          <div class="tabs-header-2">FEATURES</div>
          <div class="tabs-button">
            <div class="plus-wrap"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/plus-gray.svg?v=1635184243" loading="lazy" alt="Dropdown Menu" class="plus-tabs"></div>
          </div>
        </div>
        <div style="display:none;height:0px" class="tabs-body-panel">
          <ul role="list" class="tabs-list">
            <li class="tabs-list-item">
              <div class="tabs-copy">Limited collaboration with <strong>Earthwell in Portland, Oregon.</strong></div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy">External front zipper pocket with keyclip.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy">Internal zippered pocket for valuables you wouldn&#x27;t want stolen or lost... wallet, credit cards, etc.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>500d MultiCam® Cordura® DWR Coated water-resistant body. </strong>exterior.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>EcoPak® recycled polyester</strong> DWR water-resistant liner.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Weather-resistant </strong>matte black urethane coated zipper with x-pac flap for added weather resistance.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>BottleLok™</strong> Tie Down System with grippy slip-not lining: firmly grasps and secures any hard bottle up to 32oz capacity (UltraPress, GeoPress, Earthwell, HydroFlask, etc).</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>EasyCollapse™</strong> pocket for 12oz - 16oz cups and water bottles... even beer cans!</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy">2&quot; x 2.25&quot; Velcro® Panel (loop side) for Morale Patches made with Velcro (hook side).</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy">Easy adjustment waist strap w/ Beestee Dee ring.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy">Molle webbing front and side panels for clipping knives, cord, loops, clips, etc.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy">Webbing handle for easy hand carry.</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="tabs-wrapper">
        <div data-w-id="07d49443-703b-8c69-2a51-b5adcccd04e7" class="tabs-panel">
          <div class="tabs-header-2">DIMENSIONS &amp; CAPACITY</div>
          <div class="tabs-button">
            <div class="plus-wrap"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/plus-gray.svg?v=1635184243" loading="lazy" alt="Dropdown Menu" class="plus-tabs"></div>
          </div>
        </div>
        <div style="display:none;height:0px" class="tabs-body-panel">
          <ul role="list" class="tabs-list">
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Size:</strong> 6&quot; Height x 10.25&quot; Width x 4.5&quot; Depth. Adjustable waist strap fits up to 48" with quick release buckle.</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Weight:</strong> 14 oz (397 g)</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Capacity:</strong> 4.5L</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Made in USA</strong><br></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="tabs-wrapper">
        <div data-w-id="07d49443-703b-8c69-2a51-b5adcccd0536" class="tabs-panel">
          <div class="tabs-header-2">WE HAVE YOU COVERED</div>
          <div class="tabs-button">
            <div class="plus-wrap"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/plus-gray.svg?v=1635184243" loading="lazy" alt="Dropdown menu" class="plus-tabs"></div>
          </div>
        </div>
        <div style="display:none;height:0px" class="tabs-body-panel">
          <ul role="list" class="tabs-list">
            <li class="tabs-list-item">
              <div class="tabs-copy">We stand behind everything we sell. If you have a problem with your Grayl product, please reach out through customer support or LIVE CHAT.</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="hip-pack-section-grid-1 wf-section">
    <div class="hip-pack-container-grid-1 w-container">
      <div class="hip-pack-grid-1-cell-1">
        <div class="h3 intro-feature hip-pack">MADE TOUGH IN U.S.A.</div><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-1-USAMADE.jpg?v=1639080908" loading="lazy" sizes="(max-width: 479px) 100vw, 42vw" srcset="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-1-USAMADE-p-500.jpg?v=1639080908 500w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-1-USAMADE-p-800.jpg?v=1639080908 800w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-1-USAMADE.jpg?v=1639080908 928w" alt="Made tough in U.S.A." class="img-made-in-usa">
      </div>
      <div class="hip-pack-grid-1-cell-1">
      <div class="h3 intro-feature hip-pack">COLLAPSIBLE BOTTLE OR CAN POCKET</div><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-1-BEERCAN.jpg?v=1639080916" loading="lazy" sizes="(max-width: 479px) 100vw, 58vw" srcset="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-1-BEERCAN-p-1080.jpg?v=1639080908 1080w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-1-BEERCAN.jpg?v=1639080916 1312w" alt="Collapsible bottle or can pocket" class="img-can-pocket">
      </div>
    </div>
    <div class="hip-pack-container-grid-2 w-container">
      <div class="hip-pack-grid-1-cell-3">
        <div class="h3 intro-feature hip-pack centered">LOCK IT IN WITH BOTTLELOCK™</div><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-1-BOTTLELOCK.jpg?v=1639080908" loading="lazy" sizes="100vw" srcset="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-1-BOTTLELOCK-p-1080.jpg?v=1639080908 1080w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-1-BOTTLELOCK-p-1600.jpg?v=1639080908 1600w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-1-BOTTLELOCK-p-2000.jpg?v=1639080908 2000w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-1-BOTTLELOCK.jpg?v=1639080908 2272w" alt="Lock it in with BottleLock™" class="img-bottlelock">
      </div>
    </div>
  </div>
  <div class="hip-pack-section-headings wf-section">
    <div class="hip-pack-headings-container w-container">
      <div class="hip-pack-gold-mini-divider"></div>
      <div class="hip-pack-h1"><span class="hip-pack-gold-span">RIVER / MTN / CITY</span><br>&amp; EVERYWHERE INBETWEEN.</div>
      <div class="hip-pack-headings-p">A feature rich hip pack ready for your unique everyday carry. Campsite to MTB ride and back to the city for a coffee. Bring all your essentials in comfort.</div>
    </div>
  </div>
  <div data-w-id="ccdb339b-ca78-4364-bf08-15082cdfe3c2" style="opacity:0" class="hip-pack-section-diagram-1 wf-section">
    <div class="hip-pack-diagram-1-block"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-DIAGRAM-1.jpg?v=1639080908" loading="lazy" sizes="100vw" srcset="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-DIAGRAM-1-p-500.jpg?v=1639080908 500w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-DIAGRAM-1-p-800.jpg?v=1639080908 800w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-DIAGRAM-1-p-1080.jpg?v=1639080908 1080w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-DIAGRAM-1-p-1600.jpg?v=1639080908 1600w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-DIAGRAM-1-p-2000.jpg?v=1639080908 2000w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-DIAGRAM-1-p-2600.jpg?v=1639080908 2600w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-DIAGRAM-1.jpg?v=1639080908 2880w" alt="Hip Pack diagram image" class="hip-pack-img-diagram-1"></div>
  </div>
  <div class="hip-pack-section-headings-2 wf-section">
    <div class="hip-pack-headings-container w-container">
      <div class="hip-pack-gold-mini-divider"></div>
      <div class="hip-pack-h1"><span class="hip-pack-gold-span">BOTTLE / CUP / CAN<br></span>BRING IT ALONG.</div>
      <div class="hip-pack-headings-p">Carry your Grayl. Holster your Camp Cups or a beer. It’s up to you how you use it.</div>
    </div>
  </div>
  <div class="hip-pack-section-studio-grid wf-section">
    <div class="hip-pack-studio-grid-block-1"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-2-IMG-1.jpg?v=1639080908" loading="lazy" sizes="(max-width: 479px) 100vw, 50vw" srcset="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-2-IMG-1-p-500.jpg?v=1639080908 500w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-2-IMG-1-p-800.jpg?v=1639080908 800w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-2-IMG-1-p-1080.jpg?v=1639080908 1080w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-2-IMG-1.jpg?v=1639080908 1440w" alt="UltraPress in BottleLock™ holster" class="hip-pack-img-studio-grid-1"></div>
    <div class="hip-pack-studio-grid-block-1"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-2-IMG-2.jpg?v=1639080908" loading="lazy" sizes="(max-width: 479px) 100vw, 50vw" srcset="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-2-IMG-2-p-500.jpg?v=1639080908 500w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-2-IMG-2-p-800.jpg?v=1639080908 800w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-2-IMG-2-p-1080.jpg?v=1639080908 1080w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-2-IMG-2.jpg?v=1639080908 1440w" alt="Camp Cup in collapsible side pocket" class="hip-pack-img-studio-grid-2"></div>
  </div>
  <div class="hip-pack-section-features-one wf-section">
    <div class="hip-pack-section-feature-copy">
      <div class="hip-pack-gold-mini-divider mini"></div>
      <div class="hip-pack-h1-features">BottleLock™</div>
      <div class="hip-pack-headings-p">Padded non-slip grip 16oz to 32oz adjustable tie-down system. Easy in-and-out access to your Grayl or most water bottles.</div>
    </div>
    <div class="hip-pack-features-img-block"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-FEATURES-SLING-BOTTLELOCK.jpg?v=1639080908" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 60vw, (max-width: 991px) 63vw, 61vw" srcset="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-FEATURES-SLING-BOTTLELOCK-p-500.jpg?v=1639080908 500w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-FEATURES-SLING-BOTTLELOCK-p-800.jpg?v=1639080908 800w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-FEATURES-SLING-BOTTLELOCK-p-1080.jpg?v=1639080908 1080w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-FEATURES-SLING-BOTTLELOCK-p-1600.jpg?v=1639080908 1600w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-FEATURES-SLING-BOTTLELOCK.jpg?v=1639080908 1616w" alt="Use hip pack as sling" class="hip-pack-feature-1-img"></div>
  </div>
    <div class="hip-pack-section-features-two wf-section">
    <div class="hip-pack-features-img-block-2"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-FEATURES-EASYCOLLAPSE.gif?v=1639519838" loading="lazy" alt="Use the collapsible side cup or can pocket" class="hip-pack-feature-1-img"></div>
    <div class="hip-pack-section-feature-copy-2">
      <div class="hip-pack-gold-mini-divider mini"></div>
      <div class="hip-pack-h1-features">Collapsible Pocket</div>
      <div class="hip-pack-headings-p">Need a quick swig while riding the trail, or easy access for a river brew. This bad boy is perfect for swiggers and guzzlers alike.</div>
    </div>
  </div>
  <div class="hip-pack-section-features-mobile wf-section">
    <div class="hip-pack-section-feature-copy-2">
      <div class="hip-pack-gold-mini-divider mini"></div>
      <div class="hip-pack-h1-features">Collapsible Pocket</div>
      <div class="hip-pack-headings-p">Need a quick swig while riding the trail, or easy access for a river brew. This bad boy is perfect for swiggers and guzzlers alike.</div>
     </div>
    <div class="hip-pack-features-img-block-2"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-FEATURES-EASYCOLLAPSE.gif?v=1639519838" loading="lazy" alt="EasyCollapse Pocket for cups or cans" class="hip-pack-feature-1-img"></div>
  </div>
  <div data-w-id="f63433f1-6090-acdc-b4af-8509f24b37a2" style="opacity:0" class="hip-pack-section-diagram-2 wf-section">
    <div class="hip-pack-diagram-2-block"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-DIAGRAM-2.jpg?v=1667436135" loading="lazy" sizes="100vw" srcset="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-DIAGRAM-2-p-1080.jpg?v=1667436133 1080w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-DIAGRAM-2-p-1600.jpg?v=1667436134 1600w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-DIAGRAM-2-p-2000.jpg?v=1667436134 2000w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-DIAGRAM-2-p-2600.jpg?v=1667436134 2600w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-DIAGRAM-2.jpg?v=1667436135 2880w" alt="BottleLock pocket also fits larger bottle like GeoPress" class="hip-pack-img-diagram-2"></div>
  </div>
  <div class="hip-pack-section-grid-2 wf-section">
    <div class="hip-pack-container-grid-1 w-container">
      <div class="hip-pack-grid-1-cell-1">
        <div class="h3 intro-feature hip-pack">KEY CLIP AND PHONE ACCESS</div><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-3-KEY-CLIP.jpg?v=1639080908" loading="lazy" sizes="(max-width: 479px) 100vw, 42vw" srcset="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-3-KEY-CLIP-p-500.jpg?v=1639080908 500w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-3-KEY-CLIP-p-800.jpg?v=1639080908 800w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-3-KEY-CLIP.jpg?v=1639080908 928w" alt="Key clip in front pocket" class="img-key-clip-grid">
      </div>
      <div class="hip-pack-grid-1-cell-1">
     <div class="h3 intro-feature hip-pack">HIGHLY WEATHER-RESISTANT</div><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-3-WEATHER-RESISTANT.jpg?v=1639519899" loading="lazy" sizes="(max-width: 479px) 100vw, 58vw" srcset="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-3-WEATHER-RESISTANT-p-1080.jpg?v=1639519900 1080w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-3-WEATHER-RESISTANT.jpg?v=1639519899 1312w" alt="Highly water resistant" class="img-no-struggle-adjust">
      </div>
    </div>
    <div class="hip-pack-container-grid-2 w-container">
      <div class="hip-pack-grid-1-cell-3">
        <div class="h3 intro-feature hip-pack left">STRONG CARRY HANDLE</div><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-3-CARRY-HANDLE.jpg?v=1639080908" loading="lazy" sizes="100vw" srcset="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-3-CARRY-HANDLE-p-1080.jpg?v=1639080908 1080w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-3-CARRY-HANDLE-p-1600.jpg?v=1639080908 1600w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-3-CARRY-HANDLE-p-2000.jpg?v=1639080908 2000w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-GRID-3-CARRY-HANDLE.jpg?v=1639080908 2272w" alt="Strong built-in carry handle" class="img-carry-handle">
      </div>
    </div>
  </div>
  <div class="hip-pack-section-footer wf-section">
    <div class="hip-pack-logo-usa-footer"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/MADE-IN-USA-LOGO-FOOTER.png?v=1639080908" loading="lazy" alt="Made with MultiCam® Cordura®" class="hip-pack-usa-made-img"></div>
    <div class="hip-pack-footer-copy">MADE IN THE USA WITH BLACK MULTICAM® CORDURA®.<br>INSPECTED AND SEWN FOR LONG-LASTING DURABILITY.</div>
  </div>
  
  
    <!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Fri Jan 07 2022 19:53:56 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="61d8955daa5a5328a646977b" data-wf-site="61d8955daa5a536caa46977a">
<head>
  <meta charset="utf-8">
  <title>Grayl Dev - Hip Pack Modules</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="https://cdn.shopify.com/s/files/1/2172/9959/files/hip-pack-p-mod-webflow.css?v=1641585722" rel="stylesheet" type="text/css">
  <link href="https://cdn.shopify.com/s/files/1/2172/9959/files/hip-p-mod-style.css?v=1641587966" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
</head>
<body class="body">
  <div class="hip-pack-section-promo-module wf-section">
    <div class="hip-pack-container-promo-module w-container">
      <a href="https://www.grayl.com/discount/BOTTLELOCK?redirect=/products/earthwell-xgrayl-somewhere-roaster-loop-bottle-volcanic-black" class="hip-pack-p-mod-1 w-inline-block"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-PROMO_01.gif?v=1641585492" loading="lazy" alt="Get a FREE 16oz Roaster bottle with purchase of BottleLock Hip Pack."></a>
 <a href="https://www.grayl.com/discount/BOTTLELOCK?redirect=/products/earthwell-xgrayl-somewhere-roaster-loop-bottle-volcanic-black" class="hip-pack-p-mod-roaster w-inline-block"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-PROMO_02.jpg?v=1641585492" loading="lazy" sizes="(max-width: 479px) 100vw, 50vw" srcset="https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-PROMO_02-p-500.jpg?v=1641585492 500w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-PROMO_02-p-800.jpg?v=1641585492 800w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-PROMO_02-p-1080.jpg?v=1641585492 1080w, https://cdn.shopify.com/s/files/1/2172/9959/files/HIP-PACK-PROMO_02.jpg?v=1641585492 1200w" alt="Use Code BOTTLELOCK"></a>    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61d8955daa5a536caa46977a" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.shopify.com/s/files/1/2172/9959/files/hip-pack-p-mod.js?v=1641585511" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>

<style>
  
  .hip-pack-section-promo-module {
    margin-bottom: 4em;
}
  body {
    font-family: Armata !important;
  }
</style>
  
  
    <div class="social-header">
  <div class="social-logo">
    <a href="https://instagram.com/thegrayl" target="_blank">
    <img src="https://cdn.shopify.com/s/files/1/2172/9959/files/grayl-social-logo.svg?v=1635712226" alt="Grayl Social" width="100%" height="100%"></a>
  </div>
    
</div>
  
  
  

  
  
  <style>
.social-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8em;
  
}
.social-logo {
  max-width: 200px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.social-logo:hover {
  transform: scale(1.05, 1.05);
}

  </style>
  
<div
class="yotpo yotpo-pictures-widget"
data-gallery-id="61ce52186815013f743167cb"
data-product-id="{{ product.id }}">
</div>
  
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61b1175a5b01f97e10ca63c4" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.shopify.com/s/files/1/2172/9959/files/hip-pack.js?v=1639081127" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>

<style>
  .hip-pack-section-footer {
    margin-bottom: 96px;
  }
  
  @media screen and (max-width: 479px){
.hip-pack-container.description {
  margin-top:0;
  padding-top:0 !important;
}
    
    #ProductSection-6651107213391 > div > div > div > div.grid__item.medium-up--two-fifths > div > h1 {
    font-size: 1.4em !important;
  }
  }
  
  
</style>