<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Wed Oct 27 2021 21:58:24 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="6179a1084165e52633c04bd3" data-wf-site="61572d640c22c0df3c3cc8da">
<head>
  <meta charset="utf-8">
  <title>Grayl Titanium Bowl</title>
  {%- comment %}<locksmith:9c75>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta content="Grayl Titanium Bowl" property="og:title">{% endif -%}
    {%- comment %}original: <meta content="Grayl Titanium Bowl" property="og:title">{%- endcomment %}
  {%- comment %}</locksmith:9c75>{% endcomment -%}
  <meta content="Grayl Titanium Bowl" property="twitter:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link rel="stylesheet" type="text/css" href="{{ 'webflow.css' | asset_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'webflow-styling-021222.css' | asset_url }}">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Oswald:200,300,400,500,600,700","Armata:regular"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="product-description-gp-classic wf-section">
    <div class="section-container description w-container">
      <div class="tabs-header">OVERVIEW</div>
      <div class="pl description">Everyone loves a good bowl, and our Titanium Bowl is the perfect size and a great complement to any backcountry kit. No metallic smell or taste. Laser etched with our signature base topo art.</div>
    </div>
  </div>
  <div class="tabs-gp-classic wf-section">
    <div class="section-container tabs w-container">
      <div class="tabs-wrapper">
        <div data-w-id="a5ffde39-9eb2-f07f-ee51-bd7d2020f64a" class="tabs-panel">
          <div class="tabs-header">FEATURES</div>
          <div class="tabs-button">
            <div class="plus-wrap"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/plus-gray.svg?v=1635184243" loading="lazy" alt="" class="plus-tabs"></div>
          </div>
        </div>
        <div style="display:none;height:0px" class="tabs-body-panel">
          <ul role="list" class="tabs-list">
            <li class="tabs-list-item">
              <div class="tabs-copy"><span class="bold"><strong>Perfectly sized.</strong> Not too big, not too small.</span></div>
            </li>
             <li class="tabs-list-item">
              <div class="tabs-copy"><span class="bold"><strong>Compact, lightweight, and durable.</strong> Space saving with magnificent strength to weight ratio. Lightweight titanium design is virtually indestructible.</span></div>
            </li>
             <li class="tabs-list-item">
              <div class="tabs-copy"><span class="bold"><strong>Stackable.</strong> Buy in quantity and stack ‘em in your camp or mess kit.</span></div>
            </li>
             <li class="tabs-list-item">
              <div class="tabs-copy"><span class="bold"><strong>Premium etching.</strong> Engraved with our signature base topo artwork.</span></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="tabs-wrapper">
        <div data-w-id="a5ffde39-9eb2-f07f-ee51-bd7d2020f664" class="tabs-panel">
          <div class="tabs-header">TECH SPECS</div>
          <div class="tabs-button">
            <div class="plus-wrap"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/plus-gray.svg?v=1635184243" loading="lazy" alt="" class="plus-tabs"></div>
          </div>
        </div>
        <div style="display:none;height:0px" class="tabs-body-panel">
          <ul role="list" class="tabs-list">
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Weight</strong>: 2.29 oz (58 g)</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Dimensions</strong>: 5.4” (138 mm) x 2.2” (56 mm)</div>
            </li>
              <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Material</strong>: Premium titanium</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Laser Etching</strong>: Precisely finished with our signature base topo art</div>
            </li>
            <li class="tabs-list-item">
              <div class="tabs-copy"><strong>Origin</strong>: Designed in USA and manufactured in China</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="tabs-wrapper">
        <div data-w-id="a5ffde39-9eb2-f07f-ee51-bd7d2020f6c2" class="tabs-panel">
          <div class="tabs-header">WE HAVE YOU COVERED</div>
          <div class="tabs-button">
            <div class="plus-wrap"><img src="https://cdn.shopify.com/s/files/1/2172/9959/files/plus-gray.svg?v=1635184243" loading="lazy" alt="" class="plus-tabs"></div>
          </div>
        </div>
        <div style="display:none;height:0px" class="tabs-body-panel">
          <ul role="list" class="tabs-list">
            <li class="tabs-list-item">
              <div class="tabs-copy">Accompanied by a ten (10) year warranty covering workmanship and materials. If you have a problem with your Grayl product, please reach out through customer <a href="https://grayl.com/pages/support"><strong>support or LIVE CHAT.</strong></a></div>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61572d640c22c0df3c3cc8da" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.shopify.com/s/files/1/2172/9959/files/webflow.js?v=1635372859" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>

<style>
  @media screen and (max-width: 767px){
.section-container.description {
  padding-top: 0 !important;
  margin-top: -4em !important;
}
  }
</style>