<div class="parent-container">
<div class="colored-bar">
  <div class="colored-bar-inner">
    <a href="https://cdn.shopify.com/s/files/1/2172/9959/files/ULTRAPRESS_TI_QSG_1.2_20230402.pdf?v=1680478219" class="shop-button left-button" style="text-decoration:none;">DOWNLOAD PDF GUIDE</a>
    <a href="https://grayl.com/products/16-9oz-ultrapress-ti-purifier-covert-edition" class="shop-button" style="text-decoration:none;">SHOP ULTRAPRESS TI</a>
  </div>
</div>
</div>

<style>

  .parent-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.colored-bar {
  background-color: #ac9c63; /* change this to the desired color */
  width: 100%;
  height: auto; /* add a fixed height */
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.colored-bar-inner {
  width: 100%; /* adjust as needed for desired spacing */
  max-width: 100%; /* add a max-width for larger screens */
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-button {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #fff;
  background-color: transparent;
  text-decoration: none; /* Added to remove underline */
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #fff;
    color: #00bfff;
    cursor: pointer;
  }
}

.left-button {
  background-color: #fff; /* change background color */
  color: #ac9c63; /* change text color */
}

@media (max-width:768px) {
  .shop-button {
    font-size: 1.0em;
    padding: 8px 16px;
  }
}
</style>