<script type="text/javascript">
(function() {
var avm = document.createElement('script'); avm.type = 'text/javascript'; avm.async = true;
avm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.avmws.com/1018881/';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(avm, s);
})();
</script>

<style>
  

    
.yotpo.bottomLine .pull-left {
    float: none !important;
    text-align: center !important;
  display: inline-block !important;
}
  

  
  
.yotpo .pull-left {
    float: none !important;
    text-align: center !important;
  display: inline-block !important;
}

 
.yotpo a.text-m {
    display: inline-block !important;
}
  
  #CollectionAjaxContent > div > div > div {
    width: 100% !important;
  }
  
  @media only screen and (max-width: 769px)
{
  
  #shopify-section-collection-promotions-top > div > div > div > div {
    display:none !important;
  }
       .mobile_ew {
   display:block !important;
 }
} 
   .mobile_ew {
   display:none;
 }

  
   
  

  
  #CollectionAjaxContent > div {
    padding: 0 0;
  }
  
  #CollectionSection > div.grid.grid--uniform.grid--collection {
    padding: 40px !important;
  }
  
  #CollectionSection > div.collection-filter {
    display: none;
  }
  
</style>


{% section 'collection-header' %}



<div id="CollectionAjaxResult" class="collection-content">
  <div id="CollectionAjaxContent">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item medium-up--four-fifths grid__item--content">
          

          
          
          {% section 'collection-template' %}
          {% section 'collection-promotions-top' %}
          <div></div>
          {% section 'collection-promotions' %}
          
                    <div class="mobile_ew">
  <img src="https://cdn.shopify.com/s/files/1/2172/9959/files/HEADER_COPY_mobile.png?v=1590092267" width="100%">
  </div>
          
          <h1 style="text-align: center;
letter-spacing: 4px;
font-size:32px !important; margin-top: 160px;">@THEGRAYL</h1>
<br>
<p style="text-align: center !important; margin-top:-20px;">Tag a photo with <strong>@thegrayl</strong> and you could be featured in our gallery.</p>
          
          <div
     class="yotpo yotpo-pictures-widget"
     data-gallery-id="5ec585e3ea003414fa915986">
</div>
          
          
        </div>
      </div>
    </div>
  </div>
</div>
